<!DOCTYPE html>
<html>
  <header></header>
  <body>
    
    <div id="main-content">
      <h1>Here is a piece of news about your topic</h1>

    <h2>Title: {{ selectedArticle?.title }}</h2>
      
      <ul>
        <li>Summary: {{selectedArticle?.summary}}</li>
        <li><a>Link to the article: {{selectedArticle?.url}}</a></li>
      </ul>

     <h3>Let's dive deeper.</h3> 
     <ul>Sentimental analysis on this article:</ul>
    </div>
    <footer id="footer">
      <p id="footer-text">Built and designed by Elvi Lehtonen, Euiyoung Jin, Gabriel Díaz, Otso Luukkanen, Misaki Matsuura, Diego Campos-Velasquez
      </p>
    </footer>
  </body>
</html>