html, body{
    min-height:100%;
}

body{
    height:100vh;
    justify-content: center;
    background-color: #e6f1ff;

}

#main-content{
    position: absolute;
    padding: 5vw;
    width: 100%;
    margin: auto;

}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 4rem;
    justify-content: center;
    align-content: center;
    background-color: #30323a;
    color: #e6f1ff;
    padding-top: 1.5vw;
}


#footer-text{
    display: flex;
    justify-content: center;
}

h1{
    font-size: medium;
}
h3{
    font-weight: bold;
}

h2{
    font-weight:bold;
    color:#091a56;
    font-size:xx-large;
}

#header{
    color:#091a56;
    font-weight: bold;
}

a{
    color:#091a56;
    font-weight: bold;
}

