<body>

<div id="main-content">
  <!--<h1>Here is a piece of news about your topic!</h1>-->


  <h2>{{ article.title }}</h2>
  <img src="{{ article.imgUrl }}" alt="Article image" style="max-width: 400px; height: auto;"/>



  <br><br><br><br>
  <p id="header">Summary of the article: </p>
  <p>{{ article.summary }}</p><br>
  <a href="{{article.url}}">Link to the article</a>

  <br><br>
  <p class="deeper">Okay, let's dive deeper.</p>
    <p id="header">Sentiment analysis:
      <p>The sentiment in this article is  <span style="font-style: italic; color:rgb(255, 115, 0);">{{ article.sentiment }}</span>.</p>
      <p>This article seems to be  <span style="font-style: italic; color:rgb(255, 115, 0);">{{ article.bias }}</span>.</p>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Read more about the sentimental analysis
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>By using a large language model (LLM), we have analyzed the sentiment of this article.
        This allows you to quickly compare different takes on a topic of news.
        We have picked six different categories of sentiments to describe the voice of the article.
        These are: <i>'hopeful', 'celebratory', 'informative', 'critical', 'angry'</i> and <i>'sad'</i>. 
        To learn about the neutrality, we have analyzed if the article is 'neutral' or 'biased'.</p>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <br><br>
    <!--Fact checking-->
    <p id="header">Fact checking</p>

    
    <!--<p (mouseover)="factCheckSentence(article.description)">
      {{ article.description }}
    </p>
    <div>
      Fact check score: {{ factCheckScore }}
    </div> -->

    <!--
     <p>Fact checking 2:</p>
     <p (mouseover)="factCheck(sentence)" *ngFor="let sentence of (article.description)?.split('.')">
       {{ sentence }}
     </p>
     <div *ngIf="factCheckScore !== undefined">
       Fact check score: {{ factCheckScore }}
     </div> -->

    
    <p id="smallerheader">Here is a fact-check-able article summary: move your mouse over a sentence to check its objectivity.
     </p>
    <div>
      <p>
        <ng-container *ngFor="let sentence of article.summary.split('.'); let i = index">
          <span
            [style.color]="hoveredSentenceIndex === i ? 'rgb(255, 115, 0)' : 'black'"
            (mouseover)="factCheck(sentence, i)"
            (mouseleave)="hoveredSentenceIndex = -1"
          >
            {{ sentence.trim() }}{{ i !== article.summary.split('.').length - 1 ? '.' : '' }}
          </span>
        </ng-container>
      </p>
    </div>
    <br>
    <div>
      <p id="score">Fact check score of this sentence: {{ factCheckScore }} *</p>
      <p style="font-size:1vw;">* The score is between 0.0 and 1.0. The higher the score, the more likely the content of
        the sentence is factual claims. The lower the score,
        the more non-factual, opinionated and subjective the sentence seems.</p>

    </div>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            How does this fact checking work?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          <ul>
            <li>The rise of fake news and misinformation is increasingly recognised in many media sources.</li>
            <li>Here you can check how factual each sentence from the article's summary is.</li>
            <li>The given score is by a model made in IDIR: The Innovative Data Intelligence Research Laboratory. The score is
              between 0.0 (non-factual, opinionated or subjective) and 1.0 (factual).
            </li>
            <br>
          </ul>The model ClaimBuster: Given a sentence, ClaimBuster gives it a score
          between 0.0 and 1.0. The higher the score, the more likely the sentence contains check-worthy factual claims. The lower the score,
          the more non-factual, subjective and opinionated the sentence is.
          <br>The model is by IDIR: The Innovative Data Intelligence Research Laboratory from The University of Texas at Arlington, department of Computer Sciene and Engineering.
          <br>
        <ul>
          <li><a href="https://idir.uta.edu/claimbuster/">Learn more about ClaimBuster</a></li>
          <li><a href="https://idir.uta.edu">IDIR website</a></li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Read more about fake news & misinformation
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Millions of pieces of content created every day on the internet may be biased, hateful or misleading. The
          rise of negative content, fake news and misinformation is increasingly recognised in politics, but its reach
          is much wider; it can infiltrate trusted news sources, as well as smaller platforms like lifestyle blogs.
          While the speed and spread of information exchange can have many positive effects, it also poses a challenge
          to verification. It is difficult for humans alone to carefully analyse the vast amount of content on social
          media and news sources in order to correctly identify what information is spurious and what is
          trustworthy.</p>
      </mat-expansion-panel>
    </mat-accordion>



</div>

</body>
