html, body{
    min-height:100%;
}

body{
    height:150vw;
    justify-content: center;
    background-color: #e6f1ff;
}

#main-content{
    position: absolute;
    padding: 5vw;
    width: 100%;
    margin: auto;
    font-weight: 100
}


#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 4rem;
    justify-content: center;
    align-content: center;
    background-color: #30323a;
    color: #e6f1ff;
    padding-top: 1.5vw;
}


#footer-text{
    display: flex;
    justify-content: center;
}

h1{
    font-size: medium;
}
h3{
    font-weight: bold;
}

h2{
    font-weight:bold;
    font-size:xx-large;
    color:#091a56;
}

#header{
    color:#091a56;
    font-weight: bold;
    font-size: x-large;
}
#smallerheader{
    color:#091a56;
    font-weight:bolder;
}

a{
    color:#091a56;
    font-weight: bold;
}

li{
    font-size: 1vw;
}

mat-panel-title{
    color:#091a56
}

#score{
    color:rgb(255, 115, 0);
    font-weight: bolder;
}

.deeper{
    padding-top: 2vw;
}