<!DOCTYPE html>
<html>
  <header></header>
  <body>
    <app-navbar></app-navbar>
    <div id="main-content">
      <h1 id="about-title">About this project</h1>
      <h2>Global News Insights</h2>
      <p>Discover diverse perspectives on global events.
        <br>Our main goal is to educate users by providing a platform that presents different viewpoints on the same events, showcasing news and articles from various countries.
        <br>This initiative helps in avoiding the spread of biased information that may favor certain interpretations or opinions over others. 
        <br>It also enlightens users on how the same event can be perceived in vastly different ways around the world, fostering a more comprehensive understanding of global issues.
        <br> Github : <a href="https://github.com/Gabo-82/smart24">links to sources</a>
      </p>
    </div>
    <footer id="footer">
      <p id="footer-text">Built and designed by Elvi Lehtonen, Euiyoung Jin, Gabriel Díaz, Otso Luukkanen, Misaki Matsuura, Diego Campos-Velasquez
      </p>
    </footer>
  </body>
</html>