<!DOCTYPE html>
<html>
  <header></header>
  <body>
    <app-navbar></app-navbar>
    <div id="main-content">
      <h1 id="about-title">About this project</h1>
      <p>Here text about our project
        <br>we could also add <a href="https://www.ochaopt.org">links to sources</a>
      </p>
    </div>
    <footer id="footer">
      <p id="footer-text">Built and designed by Elvi Lehtonen, Euiyoung Jin, Gabriel Díaz, Otso Luukkanen, Misaki Matsuura, Diego Campos-Velasquez
      </p>
    </footer>
  </body>
</html>