html, body{
    min-height:100%;
}

body{
    height:200vh;
    justify-content: center;
    background-color: #e6f1ff;
}

.app-timeline{
    height: 100%;
    justify-content: center;
    align-content: center;
}


#main-content{
    position: absolute;
    top: 20%;
    width: 100%;
    margin: auto;
    
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 4rem;
    justify-content: center;
    align-content: center;
    background-color: #30323a;
    color: #e6f1ff;
    padding-top: 1.5vw;
}

#timeline-title{
    text-align: center;
    padding-bottom: 10%;
    font-weight: bolder;
}

#footer-text{
    display: flex;
    justify-content: center;
}

h2{
    padding-left: 5vw;
    font-weight: bold;

}

.table{
    padding-left: 3vw;
    padding-right: 3vw;
}

.sentidiv{
    margin-left: 5vw;
    padding-bottom: 3vw;
}

.sentibutton{
    background-color: rgb(255, 172, 94);
    border-radius: 1.5vw;
    padding: 1.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sentibutton:hover{
    background-color: rgb(238, 205, 173);
    border-radius: 1.5vw;
}

.factbutton{
    background-color: rgb(255, 172, 94);
    border-radius: 1.5vw;
    padding: 1.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 40vw;
}