html, body{
    min-height:100%;
    font-family: "Montaga", serif;
}

body{
    height:230vh;
    justify-content: center;
    background-color: #e6f1ff;
}

.app-timeline{
    height: 100%;
    justify-content: center;
    align-content: center;
}

.svg{
    margin: 10vw;
    justify-content: center;
    align-content: center;
}


#main-content{
    position: absolute;
    top: 20%;
    width: 100%;
    margin: auto;
    
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 4rem;
    justify-content: center;
    align-content: center;
    background-color: #30323a;
    color: #e6f1ff;
    padding-top: 1.5vw;
}

#timeline-title{
    text-align: center;
    padding-bottom: 10%;
    font-weight: bolder;
    font-family: "Cormorant SC", serif;
}

#footer-text{
    display: flex;
    justify-content: center;
}


h1{
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    font-family: "Cormorant SC", serif;
}

h2{
    text-align: center;
    font-family: "Cormorant SC", serif;
}

.info{
    box-shadow: #f7d436 0px 3px 8px;
    background-color: rgb(247, 247, 249);
    width: 30vw ;
    justify-content: center;
    padding: 1vw;
  position: absolute;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 1050px;
}


.p1{
    text-align: center;
    font-weight: lighter;
}

.table{
    padding-left: 3vw;
    padding-right: 3vw;
}

.sentidiv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3vw;
}

.sentibutton{
    background-color: rgb(255, 172, 94);
    border-radius: 1.5vw;
    padding: 1.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1vw;
    margin-right: 1vw;
    box-shadow: #f7d436 0px 3px 8px
    
}

.sentibutton:hover{
    background-color: rgb(238, 205, 173);
    border-radius: 1.5vw;
    box-shadow: #f7d436 0px 0px 0px
}

.returnbutton{
    background-color: rgb(255, 172, 94);
    border-radius: 1.5vw;
    padding: 1.5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 2vw;
    box-shadow: #f7d436 0px 3px 8px
}