<div class="mat-elevation-z8">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let element of dataSource.data">
      <app-news-details></app-news-details>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="element.title.length > 20; else fullTitle">{{ element.title | slice:0:60 }}...</ng-container>
          <ng-template #fullTitle>{{ element.title }}</ng-template>
        </mat-panel-title>
        <mat-panel-description>ID: {{ element.id }}</mat-panel-description>
        <a mat-button href="{{ element.url }}" target="_blank">Source: {{ element.url }}</a>
        <mat-panel-description>Date: {{ element.date | date: 'short' }}</mat-panel-description>
      </mat-expansion-panel-header>

      <table mat-table>

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element" > {{element.date | date:'short'}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef> Url </th>
          <td mat-cell *matCellDef="let element" ><a href="{{ element.url }}">{{element.url}}</a></td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>