table {
  width: 100%;
}

.mat-elevation-z8{
  padding: 3vw;
  background-color:rgb(231, 232, 192)
}

.mat-accordion{
  background-color:rgb(231, 232, 192) ;
}

.sentiment-bubbles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bubble {
  background-color: lightblue;
  border-radius: 50%;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transition: width 0.5s;
}
/* Filter buttons*/
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  /*font-size: 30px;*/
  margin-left: 8px;
  /*min-width: 120px;*/
  min-width: 350px;
}

.example-button-row {
  display: table-cell;
  max-width: 900px;
}
.example-button-row2 {
  margin-left: 50px;
  display: flex;
  align-items: flex-end;
  max-width: 900px;
}

.example-button-row3 {
  /*display: inline-block;*/
  display: flex;
  gap: 40px;
}

.info-button {
  color: white;
  background-color: gray;

}


