<div class="mat-elevation-z8">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let element of dataSource.data">
      <app-news-details [article]="element"></app-news-details>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <ng-container *ngIf="element.title.length > 20; else fullTitle">{{ element.title | slice:0:60 }}...</ng-container>
          <ng-template #fullTitle>{{ element.title }}</ng-template>
        </mat-panel-title>
        <mat-panel-description>ID: {{ element.id }}</mat-panel-description>
        <a mat-button href="{{ element.url }}" target="_blank">Source: {{ element.url }}</a>
        <mat-panel-description>Date: {{ element.date | date: 'short' }}</mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>