<!DOCTYPE html>
<html>
  <header></header>
  <body>
    <app-navbar></app-navbar>
    <div id="main-content">
      <h1 id="timeline-title">SUGGESTED TOPICS</h1>
      <p id="timeline-text">Don't know where to start? Here are some topics to get started with. <br>The ones highlighted with yellow are recent events.</p>
      <app-timeline></app-timeline>
    </div>
    <div id="search-container">
      <app-searchbar></app-searchbar>
    </div>
    <footer id="footer">
      <p id="footer-text">Built and designed by Elvi Lehtonen, Euiyoung Jin, Gabriel Díaz, Otso Luukkanen, Misaki Matsuura, Diego Campos-Velasquez
      </p>
    </footer>
  </body>
</html>