<h1 mat-dialog-title>News articles from {{ selectedArticle?.country }} </h1>
<mat-dialog-content class="mat-typography">
    <img src="../../assets/images/image.jpg" alt="Description of the image">

    <h2></h2>
    <p>An artile title: {{selectedArticle?.title}}</p>
    <h2>Something else here ?</h2>


</mat-dialog-content>
<!--<mat-dialog-actions align="end">-->
<!--  <button mat-button mat-dialog-close>Return</button>-->
<!--  <button mat-button (click)="redirect()" [mat-dialog-close]="true" cdkFocusInitial>Learn More</button>-->
<!--</mat-dialog-actions>-->
